@use "../../assets/styles/variable.scss" as *;

.#{$c-pre}tabs {
  position: relative;
  .navs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 16px;
    background: $white;
    .c-tab-item {
      flex-shrink: 0;
      padding: 10px 15px;
      text-align: center;
      height: 32px;
      line-height: 32px;

      cursor: pointer;
      transition: color 0.2s ease-in-out;
      &.active,
      &:hover {
        color: $tab-item-active-color;
        border-bottom: $tab-item-active-border-width solid
          $tab-item-active-color;
      }
    }
  }
}
