@import 'mixin';

.clear {
  clear: both;
}

.l {
  float: left;
}

.r {
  float: right;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.hidden {
  display: none;
}

input {
  border: none;
  flex: 1;
  text-align: right;
}

.disabled {
  pointer-events: none;
}

.screen-fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.screen-height {
  min-height: 100vh;
}
