@mixin flex-justify($justify:center){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: $justify;
}

@mixin font($size:15px, $color:#000000, $weight:normal) {
    font-size: $size;
    color: $color;
    font-weight: $weight;
}

$input-disabled: #dcdcdc;
