@use "../../assets/styles/variable.scss" as *;
.c-card {
  border: 1px solid #dedede;
  border-radius: 5px;
  &_title {
    height: 40px;
    line-height: 40px;
    text-align: left;
    border-bottom: 1px solid #dedede;
    padding-left: 10px;
  }
  &_body {
    padding: 10px;
  }
}
