@use "../../assets/styles/variable.scss" as *;

.c-time-count {
  div {
    text-align: center;
  }
  .timer {
    display: inline-block;
    min-width: 35px;
    box-sizing: border-box;
    padding: 3px 5px;
    font-size: $font-size-base;
    color: $white;
    background: $orange;
    border-radius: 2px;
  }

  .dot {
    display: inline-block;
    width: 20px;
    font-size: $font-size-base;
    font-weight: 600;
    font-style: normal;
    color: $gray-600;
    margin: 0 0px;
  }

  .type1 {
    .dot {
      width: 15px;
    }
  }

  .type2 {
    .timer {
      font-weight: 600;
    }
    .dot {
      color: $black;
    }
  }
}
