@use "../../assets/styles/variable.scss" as *;

.c-circle,
.circle,
.percent {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.c-circle {
  position: relative;
  background-color: #ccc;

  .circle {
    box-sizing: border-box;
    border: 8px solid #ccc;
    clip: rect(0, 80px, 80px, 40px);
  }

  .clip-auto {
    clip: rect(auto, auto, auto, auto);
  }

  .percent {
    box-sizing: border-box;
    top: -8px;
    left: -8px;
  }

  .left {
    // transition: transform ease;
    transition: all 1s ease;
    border: 8px solid $orange;
    clip: rect(0, 40px, 80px, 0);
  }

  .right {
    border: 8px solid $orange;
    clip: rect(0, 80px, 80px, 40px);
  }

  .width0 {
    width: 0;
  }

  .num {
    font-size: 20px;
    position: absolute;
    box-sizing: border-box;
    width: 72px;
    height: 72px;
    line-height: 72px;
    text-align: center;
    left: 4px;
    top: 4px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 1;
  }
}
