@import '../../assets/styles/variable.scss';

.#{$c-pre}checkbox {
  display: inline-block;
  cursor: pointer;
  .inner {
    display: inline-block;
    vertical-align: text-bottom;
    position: relative;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    direction: ltr;
    background-color: $white-color;
    border: 1px solid $border-color;
    border-radius: 2px;
    border-collapse: initial;
    &:after {
      content: ' ';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 6px;
      height: 10px;
      margin-left: -3px;
      margin-top: -7px;
      border: 2px solid $white-color;
      border-top: 0;
      border-left: 0;
      opacity: 0;
      box-sizing: border-box;
      transition: all 0.2s ease-in-out;
    }
  }
  .content {
    display: inline-block;
  }
  &.half-checked {
    .inner:after {
      top: 50%;
      left: 50%;
      width: 10px;
      height: 10px;
      background-color: $primary-color;
      border: none;
      margin: 0;
      transform: translate(-50%, -50%);
      opacity: 1;
      content: ' ';
    }
  }
  &.checked {
    .inner {
      border-color: $primary-color;
      background-color: $primary-color;
      &:after {
        transform: scale(1.2) rotate(45deg);
        opacity: 1;
      }
    }
  }
  &.disabled {
    cursor: not-allowed;
    .inner {
      // border-color: $primary-color;
      // background-color: $primary-color;
      // &:after {
      //   background-color: $primary-color;
      // }
      background: rgba($color: #000000, $alpha: 0.5)
    }
  }
}
