@import '../../assets/styles/variable.scss';

.c-slide-container {
  .slide-inner {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60%;
    background: #fff;
    z-index: 100;
  }

  .slide-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
  }

  .slide-fade-enter-active {
    transition: all .5s ease-in-out;
  }

  .slide-fade-leave-active {
    transition: all .5s ease-in-out;
  }

  .slide-fade-enter,
  .slide-fade-leave-active {
    transform: translateX(1200px);
    opacity: 0;
  }
}