@import '../../assets/styles/variable.scss';

@mixin button-size($padding-y, $padding-x, $font-size, $border-raduis) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-raduis;
}
@mixin button-style(
  $background,
  $border,
  $color,
  $hover-background: lighten($background, 7.5%),
  $hover-border: lighten($border, 10%),
  $hover-color: $color
) {
  color: $color;
  background: $background;
  border-color: $border;
  &:hover {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
  }
  &:focus,
  &.focus {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
  }
  &:disabled,
  &.c-btn-disabled {
    color: $white;
    background: $background;
    border-color: $border;
  }
}

.c-btn-primary {
  @include button-style($primary, $primary, $white);
}
.c-btn-danger {
  @include button-style($danger, $danger, $white);
}

.c-btn-info {
  @include button-style(
    $green,
    $gray-400,
    $body-color,
    $white,
    $primary,
    $primary
  );
}

.c-btn {
  position: relative;
  display: inline-block;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $white;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  border: $btn-border-width solid transparent;

  box-shadow: $btn-box-shadow;
  cursor: pointer;
  transition: $btn-transition;

  &-disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    box-shadow: none;
    > * {
      // 不接收鼠标事件
      pointer-events: none;
    }
  }

  &-link {
    font-weight: $font-weight-normal;
    color: $black;
    text-decoration: $link-decoration;
    box-shadow: none;
    &:hover {
      color: $btn-link-hover-color;
      text-decoration: $link-hover-decoration;
    }
    &:focus,
    &.focus {
      text-decoration: $link-hover-decoration;
      box-shadow: none;
    }
    &:disabled,
    &-disabled {
      color: $btn-link-disabled-color;
      pointer-events: none;
    }
  }
}

.c-btn-default {
  @include button-size(
    $btn-padding-y,
    $btn-padding-x,
    $btn-font-size,
    $border-radius
  );
}
.c-btn-lg {
  @include button-size(
    $btn-padding-y-lg,
    $btn-padding-x-lg,
    $btn-font-size-lg,
    $btn-border-radius-lg
  );
}
.c-btn-sm {
  @include button-size(
    $btn-padding-y-sm,
    $btn-padding-x-sm,
    $btn-font-size-sm,
    $btn-border-radius-sm
  );
}
