@import '../../common/css/mixin';
.c-swiper-box {
    @include flex-justify();
    margin: 0 auto;
    width: 100%;
    height: 300px;
}

.swiper-item {
    height: 100%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 100%;
    }
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    @include flex-justify();
    width: auto;
    left: inherit;
    bottom: 10px;
}

// 分页样式
.swiper-page-style-dot {
    .swiper-pagination-bullet {
        width: 18px;
        height: 18px;
    }
}
.swiper-page-style-line {
    .swiper-pagination-bullet {
        width: 50px;
        height: 10px;
        border-radius: 0;
    }
}
.swiper-page-style-bg {
    width: auto;
    padding: 3px 5px;
    border-radius: 6px;
    background: rgba(255,255,255,0.6);
    .swiper-pagination-bullet {
        width: 18px;
        height: 18px;
    }
}

// 分页位置
.swiper-container-horizontal {
    .swiper-page-position-left {
        left: 0;
        right: inherit;
        bottom: 10px;
    }
    .swiper-page-position-center {
        left: 0;
        right: 0;
        bottom: 10px;
        width: auto;
    }
    .swiper-page-position-right {
        left: inherit;
        right: 0;
        bottom: 10px;
    }
}

// 没有数据
.swiper-not-show {
    @include flex-justify();
    width: 100%;
    font-size: 30px;
    background: #fff;
}
