.c-time-circle, .circle, .percent {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.c-time-circle {
    position: relative;
    background-color: #ccc;  
    .circle{  
        box-sizing: border-box;  
        border: 0.08rem solid #ccc;  
        clip: rect(0, 80px, 80px, 0.4rem);  
    }  
    .clip-auto{  
        clip: rect(auto, auto, auto, auto);  
    }  
    .percent{  
        box-sizing: border-box;  
        top: -0.08rem;  
        left: -0.08rem;  
    }  
    .left{  
        transition: transform ease;  
        border: 0.08rem solid blue;  
        clip: rect(0, 0.4rem, 80px,0);  
    }  
    .right{  
        border: 0.08rem solid blue;  
        clip: rect(0, 80px, 80px, 0.4rem);  
    }  
    .wth0{  
        width: 0;  
    }  
    .num{  
        font-size: 0.25rem;
        position: absolute;  
        box-sizing: border-box;  
        width: 0.72rem;  
        height: 0.72rem;  
        line-height: 0.72rem;  
        text-align: center;  
        left: 0.04rem;  
        top: 0.04rem;
        border-radius: 50%;  
        background-color: #fff;  
        z-index: 1;  
    }  
}
